@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 250ms ease-in-out;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
  background: var(--body-background);
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
}

p, span {
  font-family: sans-serif;
  color: var(--paragraph-color);
}

pre, code {
  font-family: monospace;
  font-size: var(--spacing-standard);
  line-height: 1.5;
}

button {
  cursor: pointer;
  border: none;
  color: var(--button-text-color);
  font-size: var(--button-text-size);
  border-radius: var(--spacing-nano);
  outline-color: var(--heading-text-color);
  background-color: var(--button-bg-color);
  padding: var(--spacing-milli) var(--spacing-x-large);
  box-shadow: var(--spacing-zero) var(--spacing-zero) var(--spacing-nano) var(--default-shadow-color);

  &:disabled {
    cursor: not-allowed;
    color: var(--button-disabled-text-color);
    background-color: var(--button-disabled-bg-color);
  }

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: var(--button-active-bg-color);
    transform: scale(1.05);
  }

  &:active:not(:disabled) {
    transform: scale(0.95);
  }
}

input[type='text'] {
  display: inline-block;
  padding: var(--spacing-micro) var(--spacing-standard);
  border: 1px solid hsl(0, 0%, 64%);
  border-radius: var(--spacing-nano);
}
