* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
}

body {
  padding: 1rem
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
}

pre, code {
  font-family: monospace;
}
